doctype html
html
    head
        meta(charset="utf-8")
        title Home | Ybhaw
        link(href='style.css' rel='stylesheet')
    body
        .animate
        button.prev PREVIOUS
        button.next NEXT
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='main.js')