$word-count: 53;
$button-color:#A3C20D;

@mixin noselect(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  padding-top: 1em;
  padding-left: 1em;
  display: flex;
  justify-content: left;
  font-weight: 500;
  font-size: 1.2em;
  color: white;
  font-family:cursive;
}

.animate {
  position: absolute;
  top:1em;
  left:1em;
  width:50vw;
  padding-right: 0.2em;
  line-height: 1.1em;
  display:inline;
  padding-bottom:80px;
  margin-bottom:80px;
}
.cursor{
  display:inline;
  border-right: 0.15em solid orange;
  height: 1.2em;
  float:bottom;
  animation-play-state: paused;
}

.animate-cursor{
  display:inline;
  border-right: 0.15em solid orange;
  height: 1.2em;
  float:bottom;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
button{
  position:fixed;
  bottom:10px;
  height:50px;
  width:160px;
  line-height:1.5em;
  background-color:$button-color;
  border: $button-color*1.5;
  font-size:20px;
  font-weight:bold;
  font-family:cursive;
  color:white;
  cursor:pointer;
}
.prev{
  left:1em;
}
.next{
  right:1em;
}

.disabled{
  cursor:not-allowed;
  background-color:$button-color*8;
}

.viewPad{
  background-color: #fff;
  position:absolute;
  top:1em;
  right:-100vw;
  width:40vw;
  height:40vw;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding:0.5em;

}

.code{
  .heading{
    color:orangered;
    @include noselect;
  }
  .obj{
    table{
      tr{
        td:first-child{
          @include noselect;
          overflow-y: scroll;
          overflow-x: scroll;
        }
      }
    }
  }
}
.anim{
  @include noselect;
}

.animateCode{
  -webkit-animation: changeHeight 2s linear forwards;
  -o-animation: changeHeight 2s linear forwards;
  animation: changeHeight 2s linear forwards;
  overflow: auto;
}

@keyframes changeHeight {
  from{
    width:0;
    height:0;
  }
  to{
    width:50vw;
    height:24em;
  }
}

.cs{
  display:inline;
  border-right: 0.15em solid aliceblue;
}
.an-cs{
  display:inline;
  border-right: 0.15em solid orange;
  animation: bl 0.75s step-end infinite;
}

@keyframes bl {
  from,to {border-color: transparent; }
  50% {border-color: orange;}
}
